<div ng-app="StudentApp">
    <br /> <br/>
    <div class="row col-lg-12">
        <button ng-click="changeLanguage('de')" class="btn-primary" translate="BUTTON_LANG_DE"></button>
        <button ng-click="changeLanguage('en')" class="btn-primary" translate="BUTTON_LANG_EN"></button>
    </div>
    <br/>
    <div>
        <table>
            <thead>
                <tr>
                    <th>{{'ID' | translate}}</th>
                    <th>{{'FIRSTNAME'| translate}}</th>
                    <th>{{'LASTNAME'| translate}}</th>
                    <th>{{'AGE'| translate}}</th>
                    <th>{{'GENDER'| translate}}</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in students">
                    <td>{{item.Id}}</td>
                    <td>{{item.FirstName}}</td>
                    <td>{{item.LastName}}</td>
                    <td>{{item.Age}}</td>
                    <td>{{item.Gender | translate}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
